.glow {
  border-radius: 15px;
  border: 1px solid #ddd;
  width: 320px;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 15px;
  text-align: center;
  z-index: 1000;
  box-shadow: 10px 5px 5px rgb(43, 41, 41);
}

#edit-table tr:hover, #edit-table tr td:hover {
  background-color: rgb(195, 226, 244);
}

.highlight {
  background-color: rgb(135, 194, 228);
}
